# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0b67f3e533eaa757f7d220b21851de38906b5971e47f376f1ad1f4d87f075b8615c4284cc1c494f7245cc6a9fed1ac5762f9554804cf3a7432c30a46e1e54a70

test:
  secret_key_base: a820b66f3daa2e7265c373149ea4f53fba7f90747a6c3e289d8cbb2ab999e3f2b69ee0fdddac0c2e0769e5c3d39b4a787544073c315fa89e7aca8417d57c3077

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
